.comp2{
    background-color: #BDDA88;
    height: 100vh;
    transition: .3s ease;
}

.comp2-top{
    border-radius: 30px;
    height: 200px;
    width: 600px;
    overflow: hidden;
}

.comp2-top img{
    height: 598px;
    transform: translateY(-100px);
}

.comp2-bottom{
    font-size: 80px;
    font-weight: 600;
    color: #57534948;
    transition: .3s ease;
}